#### range
- range는 list로 나열해야 보인다.

In [4]:
range(21)

range(0, 21)

In [3]:
list(range(1,20,3))

[1, 4, 7, 10, 13, 16, 19]

#### for문

0~5까지 1식 증가하며 한 줄씩 출력

In [6]:
for i in range(0,6,1):
    print(i)

0
1
2
3
4
5

트리

In [11]:
for i in range(0,6,1):
    print(' '*(5-i) + ' *'*i)

     *
    * *
   * * *
  * * * *
 * * * * *

홀수줄 : *  / 
짝수줄 : @

In [17]:
for i in range(0,11,1):
    if i % 2 == 1:
        print('*'*i)
    else:
        print('@'*i)

*
@@
***
@@@@
*****
@@@@@@
*******
@@@@@@@@
*********
@@@@@@@@@@

1~100 모두 더하기

In [18]:
a = 0

for i in range(0,101,1):
    a += i
    
print(a)

5050

1~100 홀수만 더하기

In [22]:
a = 0

for i in range(1,101,2):
    a += i
    
print(a)

2500

In [23]:
a = 0

for i in range(1,101,1):
    if i % 2 == 1:
        a += i
        
print(a)

2500

구구단

In [31]:
for i in range(2,10,1):
    for j in range(1,10,1):
        print(i, '*', j, '=', i*j)
    print('-'*10)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
----------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
----------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
----------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
----------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------

#### while

0~5 - 1씩 +

In [40]:
a = 0

while a <= 5:
    print(a)
    a += 1

0
1
2
3
4
5