## 자료형 set

In [2]:
set1 = {1,2,3,4}

print(type(set1))
print(set1)

<class 'set'>
{1, 2, 3, 4}

In [3]:
set1.add(5)
set1.add(6)
set1.add(7)

print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [8]:
set2 = {'h', 'e', 'l', 'l', 'o'}
set2.add('w')
set2.add('o')
set2.add('r')
set2.add('l')
set2.add('d')


print(set2)

# 중복 안됨
# 영어 순서대로 x

{'h', 'w', 'd', 'e', 'r', 'o', 'l'}

## 자료형 - tuple

In [17]:
t1 = (1,2,3,4,5)
t2 = (10,11,24,31,23)

print(t1)
print(type(t2))
print(t1[0] + t2[0])
print(t2[:2])          # 2 포함 안됨.

(1, 2, 3, 4, 5)
<class 'tuple'>
11
(10, 11)

## 팩토리얼

In [1]:
import math as m
m.factorial(3)

6

#### 예시1. 주사위 던져서 나온 숫자들의 총합 코드
 - 세 번 던짐.

In [19]:
import random as rand

count = 3
a = 0
num = []

for i in range(count):
    num.append(rand.randint(1,6))             # 1~6까지 랜덤 뽑기
    
print(num)
print(sum(num))

[5, 5, 2]
12

#### 예시2. 
 - 두개 주사위
 - 랜덤으로 던짐
 - 합, 평균 print

In [42]:
import random as rand
import numpy as np

a = []
b = []
count = rand.randint(2,4)

for i in range(count):
    r1 = rand.randint(1,6)
    r2 = rand.randint(1,6)
    
    a.append(r1)
    b.append(r2)
    print(r1, r2)
    
print('list :', a, b)
print('합계 :', sum(a), sum(b))

np.array(b)
print('평균 :', sum(a)/len(a), np.mean(b))

3 2
2 1
6 3
5 1
list : [3, 2, 6, 5] [2, 1, 3, 1]
합계 : 16 7
평균 : 4.0 1.75