In [4]:
w='축구'
print(f'내가 {w}를 좋아')

내가 축구를 좋아

In [10]:
a='{}가 좋아, {}'
print(a.format('축구', '세상'))

축구가 좋아, 세상

In [1]:
set1={1,2,3,4}
print(set1)
print(type(set1))

{1, 2, 3, 4}
<class 'set'>

In [3]:
set1.add(5)
print(set1)
set1.add(3)
print(set1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [5]:
set2={'h','e','l','l','o'}
print(set2)
print(type(set2))

{'e', 'o', 'l', 'h'}
<class 'set'>

In [6]:
set2.add('w')
set2.add('o')
set2.add('r')
set2.add('l')
set2.add('d')
print(set2)

{'r', 'l', 'e', 'h', 'o', 'w', 'd'}

In [7]:
t1=(23.5,10.1)
t2=(1,2,3,4,5)
print(t1)
print(type(t1))
print(t2)
print(type(t2))

(23.5, 10.1)
<class 'tuple'>
(1, 2, 3, 4, 5)
<class 'tuple'>

In [9]:
print(t2[0],t2[2])
print(t2[0]+t2[2])

1 3
4

In [12]:
empty=()

print(type(empty))

<class 'tuple'>

In [14]:
t3=(1,3,5,7,9)
print(t3)
print(t3[2:])

(1, 3, 5, 7, 9)
(5, 7, 9)

In [15]:
import math as m
m.factorial(4)

24

In [16]:
from math import factorial as fac
fac(4)

24

In [27]:
import random as rd

rd.randint(1,6)

2

In [38]:
count=int(input())
print('='*50)
num=[]

for i in range(count):
    n=rd.randint(1,6)
    num.append(n)
    print(n)
print(num)
print('총 합 :',sum(num))

6
==================================================
1
2
5
1
3
1
[1, 2, 5, 1, 3, 1]
총 합 : 13

----

In [43]:
a='문자열을 다뤄 봅시다.'
print(a[1])
print(a[2:7])
print(a[-2])

자
열을 다뤄
다

In [44]:
c='계속해서 연습해 보겠습니다.'

for i in range(len(c)):
    if i%2==0:
        print(c[i])

계
해

습

겠
니
.

In [47]:
print('문' in a)
print('만' not in a)

True
True

In [49]:
b='파이썬 배울수록 재미있죠?'
print('배' in b)
print('가' not in b)

True
True

In [50]:
a='이름:{}, 나이:{}'
print(a.format('홍길동', 25))

이름:홍길동, 나이:25

In [51]:
name='홍길동'
age=25
print(f'이름 : {name}, 나이:{age}')

이름 : 홍길동, 나이:25

In [56]:
co={'아메리카노':3500, '카페라떼':3800, '콜드브루':4000, '프라프치노':4500}
a='{}는 {}원입니다.'

for k,v in co.items():
    print(a.format(k,v))

아메리카노는 3500원입니다.
카페라떼는 3800원입니다.
콜드브루는 4000원입니다.
프라프치노는 4500원입니다.

In [57]:
a='''이름:홍길동
나이:48'''
print(a)

이름:홍길동
나이:48

In [58]:
a='I love you'
print(a.upper())

I LOVE YOU

In [61]:
b='Life is a journey'
print(b.lower())

life is a journey

In [62]:
c='i love you'
print(c.capitalize())

I love you

In [66]:
a=['사람', '호랑이', '사자']
print(', '.join(a))
print(len(a))

사람, 호랑이, 사자
3

In [67]:
b=['this', 'is', 'me']
print(' '.join(b))

this is me

In [72]:
a='나는 파이썬을 배우고 있다.'
print(a.split())
print(a.split(' '))

['나는', '파이썬을', '배우고', '있다.']
['나는', '파이썬을', '배우고', '있다.']

In [75]:
a='            홍길동'
print(a.strip())
print(a.rstrip())
print(a.lstrip())

홍길동
            홍길동
홍길동

In [77]:
from pathlib import Path

print(Path.home())

C:\Users\User

In [78]:
f=open('newfile3.txt', 'w')
f.write('오늘은 21년 12월 23일이다.')
f.close()

In [80]:
f=open('newfile3.txt', 'a')
f.write('\n현재 밤11시, 나머지 공부 중이다.')
f.close()

In [88]:
f=open('poem.txt', 'r')
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())

서시

윤동주



죽는 날까지 하늘을 우러러

한 점 부끄럼이 없기를,

In [94]:
f=open('poem.txt', 'r')
long=f.readlines()

for i in long:
    print(i)
    
f.close()

서시

윤동주



죽는 날까지 하늘을 우러러

한 점 부끄럼이 없기를,

잎새에 이는 바람에도

나는 괴로워했다.



별을 노래하는 마음으로

모든 죽어 가는 것을 사랑해야지

그리고 나한테 주어진 길을

걸어가야겠다.



오늘 밤에도 별이 바람에 스치운다.

In [96]:
f=open('poem.txt', 'r')
lines=f.readlines()

for i in lines:
    print(i)

서시

윤동주



죽는 날까지 하늘을 우러러

한 점 부끄럼이 없기를,

잎새에 이는 바람에도

나는 괴로워했다.



별을 노래하는 마음으로

모든 죽어 가는 것을 사랑해야지

그리고 나한테 주어진 길을

걸어가야겠다.



오늘 밤에도 별이 바람에 스치운다.

In [4]:
def coffee4u() : 
    print(' S S S') 
    print(' S S') 
    print(' S S S S') 
    print(' S S S') 
    print('********************** *') 
    print(' ** Merry ** **') 
    print(' ** Christmas ** ***') 
    print(' ** ** ***') 
    print(' *******')
coffe4u()

NameError: name 'coffe4u' is not defined

In [5]:
print(True and False)

False

In [7]:
a=(1,2,3,(1,2))
a

(1, 2, 3, (1, 2))

In [8]:
a=[1,2,3,4] + [2]
a

[1, 2, 3, 4, 2]